
*.dll

*.pdb

*.v2

*.nupkg

*.cache

*.nuspec

*.txt

*.props

UnitOfWorkContextCore.DependencyInjection/obj/Debug/netcoreapp3.1/

UnitOfWorkContextCore.DependencyInjection/obj/

UnitOfWorkContextCore.WorkspaceContext/obj/

UnitOfWorkContextCore/obj/

.vs/UnitOfWorkContext/FileContentIndex/

.vs/UnitOfWorkContext/v16/

.vs/UnitOfWorkContext/v17/
